<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Calc</title>
</head>
<body>

<form action="{{url_for('calc_formula')}}" method="get">
    <input type="text" placeholder="Height (in meters)" name="height"><br><br>
    <input type="text" placeholder="Weight (in kgs)" name="weight"><br><br>
    <input type="submit"><br><br>
</form>
{% if bmi %}
    <p>BMI is {{bmi}} and level is {{level}}</p>
{% endif %}

</body>
</html>